.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 80%;
  margin: 0 auto;
}

/* Estilos para cada logo */
.logo {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.custom-alert {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f7f7f7;
  color: #333;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}