.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 80%;
  margin: 0 auto;
}

/* Estilos para cada logo */
.logo {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}